form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 83px;
    gap: 49px;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 28px 50px rgba(13, 39, 80, 0.16);
}

input {
    border-radius: 32px;
    border: none;
    background-color: #e6e6e6;
    padding: 10px;
}

button {
    width: 100px;
    height: 45px;
    border-radius: 32px;
    border: none;
    background-color: #534acd;
}

h1{
    width: 500px;
    text-align: center;
}

.timer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto ;
    padding: 25px;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 28px 50px rgba(13, 39, 80, 0.16);
    height: 200px;
}

.field {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.value {
    background-color: rgb(31, 31, 31);
    border-radius: 15px;
    width: 70px;
    height: 70px;
    padding:20px 0;
    font-size: 55px;
    text-align: center;
    color: #fff;

}

.label {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #878787;
    margin-top: 15px;
    text-align: center;
}